<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>About My Calculator App</h1>
    <p>Welcome to my calculator web application. It is capable of these functions:
    <ul>
        <li>Basic arithmetic operations: addition, subtraction, multiplication, and division.</li>
        <li>Handling of parentheses for complex calculations.</li>
        <li>Support for decimals in numeric input.</li>
        <li>Toggle functionality for switching between negative and positive numbers.</li>
        <li>Clearing the current total and the input.</li>
    </ul>

    <p>The user interface is designed with the following features:</p>

    <ul>
        <li>Interactive buttons with hover and click states.</li>
        <li>A scrollable history section displaying past calculations.</li>
        <li>Option to clear the history for better organization.</li>
    </ul>

    <p>Enjoy using my calculator app!</p>
</body>

</html>